<div class="panel panel-default">
  <div class="panel-heading">Your FJB Threads</div>
  <div class="panel-body" align="right">
  	<button type="button" class="btn btn-default btn-sm" onclick="window.location='<%= kaskus_load_thread_websites_path %>'">
	  <span class="glyphicon glyphicon-refresh"></span> Reload your thread list
	</button>
  </div>

  <table class="table">
  	<thead>
    <tr>
		<th>Title</th>
		<th>Created Date</th>
	</tr>
	</thead>

	<tbody>
	<% @websites.each do |w| %>
	<tr>
		<td>
			<%= w.title %>
			<div>
				<%= link_to 'Go to kaskus' , w.url, :target => 'blank' %> 
				| 

				<% if w.content.blank? %>
				<%= link_to 'Init Thread', init_website_path(w.thread_id) %>
				<% else %>			
				<%= link_to 'Show Thread', website_path(w.thread_id) %>
				<% end %>			
			</div>
		</td>
		<td><%= w.thread_create_date %></td>
	</tr>
	<% end %>	
	</tbody>
  </table>
</div>