<%= form_for @user, :url => kaskus_new_websites_path, 
		:html => {:role => 'form'} do |f| %>

	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2> 
			<ul>
				<% @user.errors.full_messages.each do |msg| %> 
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <%= f.text_field :kaskus_id, :class => 'form-control', :placeholder => "Input your Kaskus ID here" %>
	      <span class="input-group-btn">
	        <%= f.submit "Save", :class => 'btn btn-default' %>
	      </span>
	    </div>
	  </div>
	</div>
<% end %>


<% if !@user.kaskus_is_verify? %>

	<div style="padding-top:30px">
		<p>
			You need to add the following token into your kaskus's bio' coloum, and click 'Verify My Account' link below
		</p>
	</div>

	<div class="input-group input-group-lg">
	  <span class="input-group-addon">Token</span>
	  <label class="form-control"><%= @user.kaskus_auth_token %></label>
	</div>

	<div style="padding-top:10px;">
		<%= link_to "Verify My Account", kaskus_verify_token_websites_path, :class => "btn btn-primary" %>
	</div>
<% end %>




