<b><%= @website.title %></b> <br/>
<%= @website.url %> <br/>

<p>
	<%= @website.content.html_safe %> 
<p>

<div>
	<h2>Testimonials</h2>

	<%= form_for([@website, @website.testimonials.build]) do |f| %>
		<p>
			<%= f.label :comment %>
			<%= f.text_field :comment %>
		</p>
		<%= f.submit %>
	<% end %>

	<% @testimonials.each do |t| %>
		<%= t.comment %> <br/>
	<% end %>
</div>	