<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Testimonials</h3>
  </div>
  <div class="panel-body">
    <%= form_for([@website, @website.testimonials.build], :html => {:role => 'form', :class => 'form-horizontal'}) do |f| %>
		<% if !user_signed_in? %>
		<fieldset disabled>
		<% end %>


		<div class="form-group">
			<%= f.label :comment, :class => 'col-sm-2 control-label' %>
			
		    <div class="col-sm-10">
		      <%= f.text_area :comment, :class => 'form-control' %>
		    </div>
		</div>

		<div class="col-sm-offset-2 col-sm-10">
        	<%= f.submit "Save", :class => 'btn btn-default' %>
        </div>
		

		<% if user_signed_in? %>
		</fieldset>
		<% end %>	
	<% end %>

	<% @testimonials.each do |t| %>
		- <%= t.comment %> <br/>
  	<% end %>
	</div>
	
  </div>
</div>

<a href="<%= @website.url %>" target="_blank"> <%= @website.title %> </a>
<%= @website.content.html_safe %> 
	