<h1>Complete your registration</h1>

<%= form_for @user, :url => complete_profile_path, 
		:html => {:role => 'form'} do |f| %>

<% if @user.errors.any? %>
	<div id="error_explanation">
		<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
		<ul>
			<% @user.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>		

<div class="input-group">
  <span class="input-group-addon">Your Name</span>
  <input type="text" class="form-control" placeholder="Username" value="<%= @user.name %>" name="name">
</div>

<p>

<div class="input-group">
  <span class="input-group-addon">Email</span>
  <input type="text" class="form-control" placeholder="Email" value="<%= @user.email %>" name="email">
</div>

<%= f.submit %>

<% end %>