<h1>Hello, there!</h1>

<table>
	<tr valign="top">
		<td>
			Recent initialized thread
			<% @websites_list.each do |w| %>
				<div class="list-group">
				  <a href="<%= websites_path%>/<%= w.thread_id %>" class="list-group-item">
				    <h4 class="list-group-item-heading"><%= w.title %></h4>
				    <p class="list-group-item-text"><%= w.user.name %> <small><%= time_ago_in_words(w.created_at) %></small></p>
				  </a>
				</div>
			<% end %>
		</td>
		<td>
			Recent testimonial
			<% @testimonials_list.each do |t| %>
				<div class="list-group">
				  <a href="<%= websites_path%>/<%= t.website.thread_id %>" class="list-group-item">
				    <h5 class="list-group-item-heading"><%= t.user.name %> :: <%= t.website.title %></h5>
				    <p class="list-group-item-text"><%= t.comment.html_safe %> <small><%= time_ago_in_words(t.created_at) %></small></p>
				  </a>
				</div>	
			<% end %>
		</td>
	</tr>
</table>